{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienveune dans l\'espace admin' %}

{% block page_content %}
   <h1>Bienveune dans l'espace admin</h1>
{% endblock %}
