<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>
            Nouvelle demande d'informations
        </title>
    </head>

    <body>
        <p>Vous venez de recevoir une nouvelle demande d'informations, disponible en pièce jointe</p>
    </body>

</html>
